argon2-cffi
ipython
keras
matplotlib
neuralprophet
numpy
pandas
password-strength
requests
scikit-learn
scipy
plotly
psycopg2-binary
python-decouple
smmap
secure-smtplib
SMTPEmail
SQLAlchemy
SQLAlchemy-Utils
streamlit
streamlit-option-menu
tensorboard
tensorboard-data-server
tensorflow
torch
wheel
yfinance